.hide-custom {
display: none;
}
.sectionMenu.on {
background-color: #4648BF;
}
input.hhi:disabled {
background-color: #c0c0c0;
}
.sort-list {
cursor: pointer;
}
/* pagination */
.page-count {
display: flex;
}
.page-count > div {
flex: auto;
color: #2f374e;
font-size: 12px;
}
.page-count > div:last-child {
text-align: right;
}
.page-count span {
color: #0995ff;
}
.pagination {
margin-bottom: 3px;
text-align: center;
}
.pagination a {
display: inline-block;
padding: 1px 3px;
min-width: 15px;
color: #000;
text-decoration: none;

border: ipx solid tomato;
}
.pagination a.active {
font-weight: bold;
color: #0590f8;
}
.pagination a.ico {
width: 15px;
height: 15px;
font-size: 0;
background-image: url(../images/pager.png);
background-repeat: no-repeat;
}
.pagination a.first {
background-position: 5px 0;
}
.pagination a.prev {
background-position: -46px 0;
}
.pagination a.next {
background-position: -96px 0;
}
.pagination a.last {
background-position: -149px 0;
}
/* Spinner */
.spinner-modal {
display: none;
position: absolute;
z-index: 800;
left: 0;
top: 30px;
width: 100%;
height: calc(100% - 30px);
border-radius: 0 0 10px 10px;
overflow: auto;
background-color: rgb(0,0,0,0.4);
}
.spinner-modal > dialog {
display: none;
position: absolute;
top: 45%;
left: 50%;
width: 50px;
height: 50px;
margin: 0px;
background-color: rgba(0, 0, 0, 0);
border: 5px solid rgba(255,255,255,.3);
border-radius: 50%;
border-top-color: #fff;
animation: spin 1s ease-in-out infinite;
-webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}